.checkout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
}
.checkout-card {
  width: 47.5%;
  height: 55vh;
  background-color: rgb(19, 121, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
input {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(250, 216, 187);
  font-weight: bold;
  color: rgb(235, 153, 82);
}
​
input:focus {
  outline: none;
}
​
.card-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
​
#address {
  width: 100%;
  margin-top: 50rem;
}

​
#nextBtn {
  padding: 0.35rem 1rem !important;
  background-color: #F97316 !important;
  border: none !important;
  color:  #ffffff !important;
  width: 4.5rem !important;
  cursor: pointer !important;
}
.btn-container {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CBB4B4;
}

.secondName {
  margin-top: 2rem !important;
  padding: 0.5rem 0.5rem;
}

.checkout-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}
.checkout-heading {
  color: #F97316;

}

.btn-primary {
  background-color: #F97316 !important;
  color:  #ffffff !important;
  border: none !important;
  
}
