
.checkout-card {
  width: 47.5%;
  height: 55vh;
  background-color: rgb(19, 121, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
input {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(250, 216, 187);
  font-weight: bold;
  color: rgb(235, 153, 82);
}
​
input:focus {
  outline: none;
}
​
.card-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
​
#address {
  width: 100%;
  margin-top: 1rem;
}
​
#nextBtn {
  padding: 0.35rem 1rem;
  background-color: rgb(250, 5, 5);
  border: none;
  color: white;
  width: 4.5rem;
  cursor: pointer;
}
.btn-container {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}