.h6{
    gap: 1.5rem;
}
.dat{
    display: flex;
}
.footer{
    width: 100%;
     padding-block: 1.5rem;
     position: relative;
     }
.footer_box{
    width: 80%;
    margin: 0 auto ;
    display:  grid;
    grid-template-columns: 1.3fr repeat(2,1fr)2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
}
.footer_social{
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;

}
.footer_social a{
    padding: .2rem;
    border-radius: 50%;
    transition: all .1s ease-in;
    display: grid;
}
.footer_social a:hover{
    background-color: rgb(185, 185, 26) ;
    color: var(--shadow-dark-color);
    color: var(--box-shadow);  
}
/* media query */
@media screen  and (max-width:45em){
    .footer_box{
        width: 90%;
        grid-template-columns: 1fr 2fr;
    } 
    
     
}
@media screen  and (max-width:35em){
    .footer_box{
        width: 90%;
        grid-template-columns: 1fr ;
    } 
    }