@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-notifications/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.user-menu .nav-item svg {
  display: inline-block;
  float: right;
}
.user-menu .nav-pills .nav-link {
  margin-bottom: 0.5rem;
  color: #4d7e3e;
}
.user-menu.bg-dark .nav-pills .nav-link:not(.active) {
  border: 1px solid #4d7e3e;
  color: #4d7e3e;
}
.user-menu.bg-light .nav-pills .nav-link:not(.active) {
  border: 1px solid #4d7e3e;
  color: #4d7e3e;
}
.user-menu.bg-dark .nav-pills .nav-link.active {
  background-color: #4d7e3e;
  color: black;
}
.user-menu.bg-light .nav-pills .nav-link.active {
  background-color: #4d7e3e;
  color: white;
}
