/*Navbar*/
.navbar-nav a{
  font-size: 18px;
}
<<<<<<< HEAD
.card {
 background-image: url(./img/PSX_20221223_172358\ \(1\).png);
}
.card-text text-black{
  float: left;
=======
.btn:active {
  outline-color: red;
}

.navbar {
  background: rgba(38, 27, 180, 0.01);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(38, 27, 180, 0.13);
>>>>>>> refs/remotes/origin/main
}